#countdown_p, #countodwn_subtitle {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#countdown_p {
    margin-top: 8vh;
    font-size: 3.1rem;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum" 1;
}

#countodwn_subtitle {
    width: 70%;
    padding: 0 15%;
    font-size: 1.3rem;
}

